[Unit]
Description=Run WPSD Tasks at random intervals

[Timer]
# Set the timer to trigger every hour, with randomized start time within each window
OnCalendar=*:0/1:00
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
